<footer class="footer-cnt">
    <section id="newsletter" class="section">
        <h3 class="title">
            Join Our Mailing List To Receive The News & Latest Trends
        </h3>
        <input type="text" class="email" placeholder="Email Address..." autocomplete="on" required>
        <button class="nw-btn">Subscribe</button>
    </section>
    <section id="links">
        <div class="cnt">
            <h5 class="links-title">Resources</h5>
            <ul class="links-list">
                <li class="link-el">
                    <a href="" class="link">Blog</a>
                </li>
                <li class="link-el">
                    <a href="" class="link">ToolBox</a>
                </li>
                <li class="link-el">
                    <a href="" class="link">Calculators</a>
                </li>
            </ul>
        </div>

        <div class="cnt">
            <h5 class="links-title">About</h5>
            <ul class="links-list">
                <li class="link-el">
                    <a href="" class="link">Contact Us</a>
                </li>
                <li class="link-el">
                    <a href="" class="link">Careers</a>
                </li>
                <li class="link-el">
                    <a href="" class="link">Affiliate program</a>
                </li>
            </ul>
        </div>

        <div class="cnt">
            <h5 class="links-title">Social</h5>
            <ul class="social-icons-cnt">
                <li class="icon-cnt">
                    <img src="" class="icon" alt="">
                </li>
                <li class="icon-cnt">
                    <img src="" class="icon" alt="">
                </li>
                <li class="icon-cnt">
                    <img src="" class="icon" alt="">
                </li>
            </ul>
            <p class="email">
                Email: <a href="">landware@support.com</a>
            </p>
        </div>
    </section>
    <section id="copyright">
        <div class="copyright-txt">
            <p>Copyright © 2022 LandWare company. All Rights Reserved.
                <br>Design: <a href="https://github.com/HadzhieV777" target="_blank" title="css templates">Radoslav HadzhieV</a><br> 
        </div>
    </section>
</footer>
