<main class="main-cnt">
  <section id="hero" class="section" @bounceIn>
    <div class="hero-txt">
      <h1 class="title">
        Organize <span class="blue">your rental property business</span> with
        all in one software solution
      </h1>
      <p class="paragraph">
        Intuitively designed property managment software, build with the right
        amount of automation for your operations that's easy to use. Everything
        your business needs to grow, all in one place.
      </p>
      <button routerLink="/auth/login" class="hero-btn">Sign in</button>
    </div>
    <img
      src="../../../assets/images/hero-banner.png"
      alt="Hero section banner"
      class="hero-banner"
    />
  </section>

  <section id="services" class="section" @pageAnimations>
    <h2 class="title">
      Everything your <span class="purp">business needs to succeed</span>, from
      move-in to move-out
    </h2>
    <ul class="services-cnt">
      <li class="service">
        <img
          src="../../../assets/icons/services-icons/managment-growth.png"
          alt="Managment & Growth Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Managment & Growth</h3>
        <p class="service-paragraph">
          Grow your business without ever missing a beat. LandWare is designed
          to give you the clarity to focus on what drives your success.
        </p>
      </li>

      <li class="service">
        <img
          src="../../../assets/icons/services-icons/renter-mng.png"
          alt="Renter Managment Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Renter Management</h3>
        <p class="service-paragraph">
          Track your lead, applicant, and lease information all in one place.
        </p>
      </li>

      <li class="service">
        <img
          src="../../../assets/icons/services-icons/search.png"
          alt="Accounting & Reports Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Accounting & Reports</h3>
        <p class="service-paragraph">
          Gain greater insights across your portfolio, boost accuracy with
          robust accounting, and increase productivity through smart process
          automation.
        </p>
      </li>

      <li class="service">
        <img
          src="../../../assets/icons/services-icons/docs-mng.png"
          alt="Document Management Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Document Management</h3>
        <p class="service-paragraph">
          Find state-specific legal forms in minutes when you need them.
        </p>
      </li>

      <li class="service">
        <img
          src="../../../assets/icons/services-icons/integrations.png"
          alt="Seamlessly integrations Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Seamlessly integrations</h3>
        <p class="service-paragraph">
          Do everything you ever wanted with the power of integrations. Share
          data between programs and eliminate double data entry.
        </p>
      </li>

      <li class="service">
        <img
          src="../../../assets/icons/services-icons/revenue.png"
          alt="Revved-Up Revenue Icon"
          class="service-ico"
        />
        <h3 class="service-heading">Revved-Up Revenue</h3>
        <p class="service-paragraph">
          Tools that open up built-in revenue streams inside your portfolio.
        </p>
      </li>
    </ul>
  </section>

  <section id="benefits" class="section"  @bounceIn>
    <img
      src="../../../assets/images/benefits-main.png"
      alt="Benefits villa banner"
      class="benefits-img"
    />
    <div class="benefits-txt">
      <h2 class="title">
        LandWare will make the <span class="blue">real estate managment</span> a
        breeze. No matter <span class="blue">the size or the market</span>
      </h2>

      <p class="paragraph">
        One intuitive platform for your entire residential portfolio. You can do
        anything from anywhere in a fully digital environment. Streamlined
        processes and smart automation free your team to focus on your
        communities and deliver an outstanding resident experience.
      </p>
    </div>
  </section>

  <section id="benefits" class="section"  @bounceIn>
    <div class="benefits-txt">
      <h2 class="title">
        <span class="purp">Be The Best Landlord</span> Your Tenant Has Ever Had
      </h2>

      <p class="paragraph">
        For Landlords - Stay organized and look professional in the eyes of your
        tenant, with everything in one place
      </p>
      <p class="paragraph">
        For Your Tenants - One tool for applying, paying rent, and requesting
        maintenance
      </p>
      <p class="paragraph">
        For Both - Handle paperwork, payments, communication, and maintenance
        all together to eliminate confusion
      </p>
    </div>
    <img
      src="../../../assets/images/benefits-scnd.png"
      alt="Benefits villa banner"
      class="benefits-img"
    />
  </section>

  <section id="faq" class="section">
    <h2 class="title">Frequently asked <span class="blue">questions</span></h2>
    <ul class="questions-cnt">
      <li class="question">
        <h3 class="q-title">Can my accountant use LandWare to see reports?<span class="dropdown"><img src="../../../assets/icons/drop-down.png" alt="dropdown icon" (click)="showHiddenData()" class="dropdown-icon"></span></h3>
        <p class="q-paragraph"  [class.hideData]="hideData">
          Absolutely. LandWare offers fully customizable User Access Roles. You
          can easily decide which parts of your account to be shared with users.
        </p>
      </li>

      <li class="question">
        <h3 class="q-title">What if I am new to the property managment?<span class="dropdown"><img src="../../../assets/icons/drop-down.png" alt="dropdown icon" (click)="showHiddenData()" class="dropdown-icon"></span></h3>
        <p class="q-paragraph"  [class.hideData]="hideData">
          LandWare makes it easy to manage your expenses, income, and revenue
          reports in just a few clicks. 
        </p>
      </li>

      <li class="question">
        <h3 class="q-title">Can I use LandWare on any device i want to?</h3>
        <p class="q-paragraph">
          Property managers, landlords, tenants, and owners, will get the same
          features and functionality on desktop, laptop, tablet, or phone.
        </p>
      </li>

      <li class="question">
        <h3 class="q-title">
          I want to try it before make any commitments?
        </h3>
        <p class="q-paragraph">
          LandWare is Freemium, meaning you can use it completely free for 1
          unit. Then if you want to manage more properties you can check our plans.
        </p>
      </li>
    </ul>
  </section>
</main>
