<div class="heading">
  <h1 class="title">User Info</h1>
  <!-- <p class="text">Scale your business easily. With our selected tools</p> -->
</div>
<div class="profile">
  <img src="../../../assets/images/profile.png" alt="default user" />
  <h3>User Info</h3>

  <!-- USER INFO -->
  <ng-container>
    <div>
      <div class="flex">
        <p>First Name:</p>
        <p>Peter</p>
      </div>
      <div class="flex">
        <p>Last Name:</p>
        <p>Petrov</p>
      </div>
      <div class="flex">
        <p>Email:</p>
        <p>pesho@gmail.com</p>
      </div>
      <div class="flex">
        <p>Phone:</p>
        <p>0878444222</p>
      </div>
    </div>
    <button class="edit-button">Edit</button>
  </ng-container>

  <!-- USER FORM -->
  <!-- <ng-container >
        <form>
          <div class="flex">
            <p>First Name:</p>
            <input
              type="text"
              name="firstName"
              id="firstName"
              required
              minlength="5"
              value="Johny"
              formControlName="firstName"
            />
          </div>
          <ng-container>
            <p class="error">
              First Name is required!
            </p>
            <p class="error">
              First Name should contain at least 2 characters!
            </p>
          </ng-container>
          <div class="flex">
            <p>Last Name:</p>
            <input
              type="text"
              name="lastName"
              id="lastName"
              required
              minlength="5"
              value="Johny"
              formControlName="lastName"
            />
          </div>

          <div class="flex">
            <p>Email:</p>
            <input
              type="email"
              name="email"
              formControlName="email"
              id="email"
              required
            />
          </div>
          <ng-container>
            <p class="error">
              Email is required!
            </p>
            <p
              class="error"
            >
              Email is not valid!
            </p>
          </ng-container>
          <div class="flex">
            <p>Phone:</p>
            <div>
              <select
                name="select-tel"
                id="select-tel"
                class="tel"
                formControlName="ext"
              >
                <option value="00359">+359</option>
                <option value="00358">+358</option>
              </select>
              <input
                type="text"
                id="tel"
                placeholder="885 888 888"
              />
            </div>
          </div>
          <div class="buttons-grup">
            <button class="red-button"  type="button">
              Cancel
            </button>
            <button
              class="green-button"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </ng-container> -->
</div>
