$clr-white: #ffffff;
$clr-blue: #3F6FD7;
$clr-red: crimson;
$clr-green: limegreen;

$black: #000000;
$gray: rgba($black, 0.6);
$clr-white-dark: rgb(207, 205, 205);

input {
    outline: none;
    display: block;
    background: rgba($black, 0.1);
    width: 70%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: $gray;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: .5rem;
}


.profile {
    $bg-color: hsla(0, 0%, 94.1%, .8);
    $border-clr: #444;
    $border-style: .3em solid rgb(0, 212, 255);
    width: 100%;
    max-width: 500px;
    margin: 2em auto 1rem;
    padding: .5em;
    // border:   $border-style;
    border-radius: .5rem;
    color: $border-clr;
    background-color: $bg-color;
    box-shadow: 0 0 1em 0 $black;
    text-align: center;

    & h3 {
        text-decoration: underline;
    }

    & img {
        width: 7em;
        height: 7em;
        margin: auto;
        display: block;
    }

    .edit-button {
        border: 2px solid $clr-blue;
        color: $clr-blue;
    }

    & button {

        border-radius: 0.3em;
        padding: 0.6em 1.2em;
        outline: none;
        margin: 1rem;
        transition: all .5s;
        font-weight: 600;


        &:hover {
            background-color: $clr-white;
            cursor: pointer;
        }
    }
}


.flex {
    display: flex;

    & p:first-child {
        width: 35%;
        text-align: right;
        margin: .5em;
    }

    & p:last-child {
        width: 55%;
        text-align: left;
        margin: .5em;
        font-weight: bold;
    }

    &>input,
    &>div {
        width: 55%;
        text-align: left;
        margin: .5em;
    }

    &>div>input {
        width: 77%;
    }

    & select {
        padding: 0.17em 0;
    }
}

.red-button {
    border-color: $clr-blue;
    color: $clr-blue;
    

    &:hover {
        color: $clr-red;
        border-color: $clr-red;
    }
}

.green-button {
    border-color: $clr-blue;
    color: $clr-blue;
    

    &:hover {
        color: $clr-green;
        border-color: $clr-green;
    }
}


.buttons-grup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
.error {
    color: $clr-red;
}


@media screen and (min-width: 1024px) {
    .profile {
        margin-right: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    .profile {
        margin-right: auto
    }
}