<div class="heading">
  <h1 class="title">User Info</h1>
  <!-- <p class="text">Scale your business easily. With our selected tools</p> -->
</div>
<div class="profile">
  <img src="../../../assets/images/profile.png" alt="default user" />
  <h3>User Info</h3>

  <!-- USER INFO -->
  <ng-container>
    <div>
      <div class="flex">
        <p>First Name:</p>
        <p>Peter</p>
      </div>
      <div class="flex">
        <p>Last Name:</p>
        <p>Petrov</p>
      </div>
      <div class="flex">
        <p>Email:</p>
        <p>pesho@gmail.com</p>
      </div>
      <div class="flex">
        <p>Phone:</p>
        <p>0878444222</p>
      </div>
    </div>
    <button class="edit-button" (click)="toggleEditMode()">Edit</button>
  </ng-container>

  <!-- USER FORM -->
  <ng-container *ngIf="showEditMode">
    <form [formGroup]="editProfileForm">
      <input
        type="text"
        formControlName="fName"
        placeholder="First Name"
      />
      <ng-container *ngIf="editProfileForm.get('fName')?.touched">
        <span
          class="error"
          *ngIf="editProfileForm.get('fName')?.errors?.['minlength']"
        >
          First name must have at least 2 characters!
        </span>
        <span
          class="error"
          *ngIf="editProfileForm.get('fName')?.errors?.['required']"
        >
          First name is required!
        </span>
      </ng-container>

      <input
        type="text"
        formControlName="lName"
        placeholder="Last Name"
      />
      <ng-container *ngIf="editProfileForm.get('lName')?.touched">
        <span
          class="error"
          *ngIf="editProfileForm.get('lName')?.errors?.['minlength']"
        >
          Last name must have at least 2 characters!
        </span>
        <span
          class="error"
          *ngIf="editProfileForm.get('lName')?.errors?.['required']"
        >
          Last name is required!
        </span>
      </ng-container>

      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        id="email"
      />
      <ng-container *ngIf="editProfileForm.get('email')?.touched">
        <span
          class="error"
          *ngIf="editProfileForm.get('email')?.errors?.['required']"
        >
          Email is required!
        </span>
        <span
          class="error"
          *ngIf="editProfileForm.get('email')?.errors?.['email']"
        >
          Invalid email
        </span>
      </ng-container>

      <input
        type="number"
        formControlName="phoneNumber"
        placeholder="Phone Number"
        id="email"
      />

      <div class="buttons-grup">
        <button class="red-button" type="button"  (click)="toggleEditMode()">Cancel</button>
        <button class="green-button" type="submit" [disabled]="this.editProfileForm.invalid">Save</button>
      </div>
    </form>
  </ng-container>
</div>
