<section id="free-tools" class="section">
  <div class="heading">
    <h1 class="title">
      <span class="blue">Free tools and calculators</span> to help you be a
      successful landlord
    </h1>
    <p class="text">Save time and money with our landlord tools.</p>
  </div>
  <ul class="tools-container">
    <li class="single-tool">
      <img
        src="../../../../assets/icons/rp-calc.png"
        alt="Rental Property Calculator"
        class="tool-icon"
      />
      <h3 class="tool-title">Rental Property Calculator</h3>
      <p class="tool-paragraph">
        Calculate cash flow, cap rate and other important indicators to
        determine a property's ROI.
      </p>
      <button class="tool-btn">View the Calculator</button>
    </li>

    <li class="single-tool">
        <img
          src="../../../../assets/icons/mo-rcalc.png"
          alt="Move-Out Prorated Rent Calculator"
          class="tool-icon"
        />
        <h3 class="tool-title">Move-Out Rent Calculator</h3>
        <p class="tool-paragraph">
          Not moving out exactly at the end of the month? Easily calculate the
          prorated rent amount for a move-out date.
        </p>
        <button class="tool-btn">View the Calculator</button>
      </li>

    <li class="single-tool">
      <img
        src="../../../../assets/icons/iv-calc.png"
        alt="Investment calculator"
        class="tool-icon"
      />
      <h3 class="tool-title">Investment calculator</h3>
      <p class="tool-paragraph">
        Check if the property you want to invest in will produce the needed
        cashflow.
      </p>
      <button class="tool-btn">View the Calculator</button>
    </li>

    <li class="single-tool">
      <img
        src="../../../../assets/icons/exp-tr.png"
        alt="Expenses tracker"
        class="tool-icon"
      />
      <h3 class="tool-title">Expenses tracker</h3>
      <p class="tool-paragraph">
        Managing your expenses is a key conception for every landlord to apply.
      </p>
      <button class="tool-btn">Check the Tracker</button>
    </li>

    <li class="single-tool">
      <img
        src="../../../../assets/icons/rp-tr.png"
        alt="Rent Payment Tracker Spreadsheet"
        class="tool-icon"
      />
      <h3 class="tool-title">Rent Payment Tracker Spreadsheet</h3>
      <p class="tool-paragraph">
        Keep track of all of your rent payments and fees with our free rent
        payments tracking spreadsheet.
      </p>
      <button class="tool-btn">Get the Spreadsheet</button>
    </li>

    <li class="single-tool">
      <img
        src="../../../../assets/icons/ll-pl.png"
        alt="Landlord Planner"
        class="tool-icon"
      />
      <h3 class="tool-title">Landlord Planner</h3>
      <p class="tool-paragraph">
        Every business needs a good planning. Our tool will make planning a
        charm.
      </p>
      <button class="tool-btn">Get the Planner</button>
    </li>

    
  </ul>
</section>
