<div class="form-cnt">
  <div class="container">
    <form [formGroup]="loginForm">
      <p>Sign in</p>

      <ng-container *ngIf="loginForm.get('email')?.touched">
        <span
          class="error"
          *ngIf="loginForm.get('email')?.errors?.['required']"
        >
          Email is required!
        </span>
        <span class="error" *ngIf="loginForm.get('email')?.errors?.['email']">
          Invalid email
        </span>
      </ng-container>

      <input
        placeholder="Email"
        type="email"
        formControlName="email"
        id="email"
      /><br />

      <ng-container *ngIf="loginForm.get('password')?.touched">
        <span
          class="error"
          *ngIf="loginForm.get('password')?.errors?.['required']"
        >
          Password is required!
        </span>
      </ng-container>

      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      /><br />
      <input type="button" (click)="login()" value="Sign in" [disabled]="this.loginForm.invalid"/><br />
      <span class="social-login">
        <span class="secondary">Or sing in using</span>
        <a (click)="authService.GoogleAuth()" value="Sign in"
          ><img
            src="../../../assets/icons/google-icon.png"
            alt="Google Logo"
            class="social-btn"
          /> </a
        ><br />
      </span>
      <span class="secondary"
        >Don't have an account?<br /><a routerLink="/auth/register"
          >Sign up</a
        ></span
      >
    </form>

    <div class="drops">
      <div class="drop drop-1"></div>
      <div class="drop drop-2"></div>
      <div class="drop drop-3"></div>
      <div class="drop drop-4"></div>
      <div class="drop drop-5"></div>
    </div>
  </div>
</div>
