$clr-black-font: #2A2A2A;
$clr-blue-main: #03A4ED;
$clr-purp-detail: #E00043;
$clr-white: #ffffff;

// Main 

.title {

    & .blue {
        color: $clr-blue-main;
    }

    & .purp {
        color: $clr-purp-detail;
    }
}

.paragraph {
    line-height: 1.4;
    letter-spacing: .5px;
}

.section {
    margin-bottom: 3rem;
}


@media screen and (min-width: 768px) {

    .title {
        font-size: 1.2rem;
        line-height: 1.2;
        letter-spacing: 1.4;
        margin: 0;
    }

    .paragraph {
        font-size: .9rem;
        line-height: 1.3;
        padding: 0;
        letter-spacing: .5px;
    }

    .section {
        margin-bottom: 6rem;
    }

}

@media screen and (min-width: 1024px) {
    .title {
        margin: 0;
        font-size: 1.7rem;
        letter-spacing: 2.4;
        line-height: 1.2;
        font-weight: 800;
    }

    .paragraph {
        font-size: 1rem;
    }

    .section {
        max-width: 1024px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 1.8rem;
    }

    .paragraph {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 1920px) {

    .title {
        font-size: 1.8rem;
    }

    .paragraph {
        font-size: 1.6rem;
    }
}