$clr-white-dark: rgb(207, 205, 205);
$clr-blue: #3F6FD7;
$clr-white: #fff;
$clr-red: crimson;

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2A2A2A;
}

#add-lease {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .title {
        margin: 1rem;
    }

}

.single-prop {
    border: 2px solid $clr-white-dark;
    border-radius: .5rem;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
    overflow: hidden;


    & .prop-img {
        width: 100%;
    }

    & .prop-info {
        margin: 0 .5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .aditional-data {
            margin-bottom: .5rem;
        }

    }
}

#add-btn {
    height: 2.8rem;
    border-radius: 1.5rem;
    border: 2px solid $clr-blue;
    background-color: transparent;
    color: $clr-blue;
    width: 90%;
    transition: all .5s;
    margin: 1rem;
    font-weight: 600;

    &:hover {
        background-color: $clr-white;
        cursor: pointer;
    }
}

.prop-zip {
    font-weight: 600;
}

.prop-extras-ctn {
    margin-top: .7rem;
    margin-bottom: .7rem;
    display: flex;
    flex: row;
    justify-content: left;
    gap: .5rem;
}

.prop-extra {
    border: 2px solid $clr-white;
    color: $clr-white;
    background-color: #3F6FD7;
    border-radius: .5rem;
    padding: .5rem;
    // margin: .2rem;
}

.info-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #b1d6f7;
    border: 2px solid $clr-white-dark;
    border-radius: .5rem;
}

.info-icon {
    width: 26%;
    padding: .2rem;
    border: 2px solid $clr-white-dark;
}

.price,
.term {
    font-weight: 600;
}

.price.red {
    color: $clr-red;
}


.no-leases {
    margin: 1rem;
}


@media screen and (min-width: 768px) {
    .single-prop {
        display: flex;
        flex-direction: row;
        align-items: left;
    }

    .single-prop {  

        & .prop-img {
            width: 30%;
        }
    }

    .prop-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
        text-align: center;
        margin: .5rem;
    }

    .info-ctn {
        margin-bottom: 1rem;
    }

    .single-lease {

        & .prop-img {
            width: 30%;
        }

        & .lease-info {
            width: 100%;
        }
    }

    .info-txt {
        width: 70%;
        margin: 0 auto;
    }

    .info-title {
        margin: .5rem;
    }

    .info-paragraph {
        margin: .5rem;
    }

    #add-btn {
        max-width: 420px;
    }
}

@media screen and (min-width: 1024px) {
    #add-lease {
        width: 60%;
        margin-top: 2rem;
        margin-left: 19rem;
    }

    .info-icon {
        width: 20%;
    }

    .info-txt {
        width: 62%;
    }

    .prop-info {
        gap: 2rem;

    }
}

@media screen and (min-width: 1440px) {
    #add-lease {
        width: 55%;
        margin-left: 23rem;
    }

    .info-txt {
        width: 50%;
    }

    .info-icon {
        width: 14%;
    }

    .prop-info {
        gap: 7rem;
    }
}

@media screen and (min-width: 1920px) {
    #add-lease {
        margin-left: 28rem;
        width: 55%;
    }

    .info-txt {
        width: 40%;
    }

    .prop-info {
        gap: 12rem;
    }
}