<section id="add-lease" class="section">
    <header class="heading">
      <h1 class="title">Maintenance</h1>
     </header>
  
     <div class="info-ctn">
        <img src="../../../assets/images/workers.png" alt="Folder icon" class="info-icon">
       <div class="info-txt">
        <h3 class="info-title">
            Track all property maintenances
        </h3>
        <p class="info-paragraph">
          It's good to know when a property is out of business for a while.
        </p>
       </div>

     </div>
    <ul class="leases-ctn">
        <li class="single-prop">
            <img src="../../../assets/images/prop-img.png" alt="Property image" class="prop-img" />
            <div class="prop-info">
              <div class="aditional-data">
                <h3 class="prop-address">Sofia Krasna Polyana 2</h3>
                <div class="prop-extras-ctn">
                    <p class="maintenance-type">Renovating the bathroom.</p>
                </div>
            </div>
            </div>
          </li>
  
        <!-- <li class="no-leases">
          <h2>
            You don't have any leases
          </h2>
          <p>Add all your leases and keep them organized.</p>
        </li > -->
    </ul>
     <button id="add-btn">Start New Maintenance</button>
  </section>