<section id="add-prop" class="section">
  <header class="heading">
    <h1 class="title">Properties</h1>
   </header>

  <ul class="props-ctn">
   
    <li class="single-prop">
        <img src="../../../assets/images/prop-img.png" alt="Property image" class="prop-img" />
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="prop-address">Sofia Krasna Polyana 2</h3>
            <p class="prop-zip">Sofia, 1330</p>
            <div class="prop-extras-ctn">
              <span class="prop-extra">Not Rented</span>
              <span class="prop-extra">Rented</span>
            </div>
        </div>
        <p class="price"><span class="currency">$</span>850</p>
        </div>
      </li>

      <li class="single-prop">
        <img src="../../../assets/images/prop-img.png" alt="Property image" class="prop-img" />
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="prop-address">Sofia Krasna Polyana 2</h3>
            <p class="prop-zip">Sofia, 1330</p>
            <div class="prop-extras-ctn">
              <span class="prop-extra">Not Rented</span>
              <span class="prop-extra">Rented</span>
            </div>
        </div>
        <p class="price"><span class="currency">$</span>850</p>
        </div>
      </li>

      <li class="single-prop">
        <img src="../../../assets/images/prop-img.png" alt="Property image" class="prop-img" />
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="prop-address">Sofia Krasna Polyana 2</h3>
            <p class="prop-zip">Sofia, 1330</p>
            <div class="prop-extras-ctn">
              <span class="prop-extra">Not Rented</span>
              <span class="prop-extra">Rented</span>
            </div>
        </div>
        <p class="price"><span class="currency">$</span>850</p>
        </div>
      </li>

      <!-- <li class="no-props">
        <h2>
          You don't have any properties.
        </h2>
        <p>Add one and start exploring LandWare functionalities</p>
      </li > -->
  </ul>
   <button id="add-btn" routerLink="/properties/add">Add New Property</button>
</section>
