<section id="add-prop" class="section">
  <header class="heading">
    <h1 class="title">Properties</h1>
  </header>

  <ng-container *ngIf="arrayEstate && arrayEstate.length > 0">
    <ul class="props-ctn">
      <li
        class="single-prop"
        *ngFor="let estate of arrayEstate; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEstate(estate, i)"
      >
        <img
          src="../../../assets/images/prop-img.png"
          alt="Property image"
          class="prop-img"
        />
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="prop-address">{{ estate.address }}</h3>

            <p class="prop-zip">{{ estate.city }}, {{ estate.zip }}</p>
            <div class="prop-extras-ctn">
              <span class="prop-extra" *ngIf="!estate.rented">Not Rented</span>
              <span class="prop-extra" *ngIf="estate.rented">Rented</span>
              <span class="prop-extra false" *ngIf="estate.maintenance"
                >Maintenance</span
              >
            </div>
          </div>
          <p class="price">{{ estate.price | currency }}</p>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="arrayEstate && arrayEstate.length === 0">
    <ul class="props-ctn">
      <li class="no-props">
        <h2>You don't have any properties.</h2>
        <p>Add one and start exploring LandWare functionalities</p>
      </li>
    </ul>
  </ng-container>
  <button id="add-btn" routerLink="/properties/add">Add New Property</button>
  <div *ngIf="currentEstate">
    <app-estate-details
      (refreshList)="refreshList()"
      [estate]="currentEstate"
    ></app-estate-details>
  </div>
</section>
