<section id="add-lease" class="section">
  <header class="heading">
    <h1 class="title">Leases</h1>
  </header>

  <div class="info-ctn">
    <img
      src="../../../assets/images/folder.png"
      alt="Folder icon"
      class="info-icon"
    />
    <div class="info-txt">
      <h3 class="info-title">Build Your Own Lease Agreements</h3>
      <p class="info-paragraph">
        Our lease agreements were drafted by legal professionals to keep you
        compliant and covered.
      </p>
    </div>
  </div>

  <ng-container *ngIf="arrayLeases && arrayLeases.length > 0">
    <ul class="leases-ctn" *ngFor="let lease of arrayLeases">
      <li class="single-lease">
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="lease-name">{{ lease.title }}</h3>
            <p class="prop-address">{{ lease.address }}</p>
          </div>
          <p class="price">
            <span class="currency">Rent: $</span>{{ lease.rent }}
          </p>
          <p class="term">
            Lease Term: {{ lease.startDate }} - {{ lease.endDate }}
          </p>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="arrayLeases && arrayLeases.length === 0">
    <ul class="leases-ctn">
      <li class="single-lease">
        <h2>You don't have any leases.</h2>
        <p>Add all your leases and keep them organized.</p>
      </li>
    </ul>
  </ng-container>
  <button id="add-btn" routerLink="/leases/add">Add New Lease</button>
</section>
