<section id="benefits" class="section" @bounceIn>
  <img
    src="../../../assets/images/benefits-main.png"
    alt="Benefits villa banner"
    class="benefits-img"
  />
  <div class="benefits-txt">
    <h2 class="title">
      LandWare will make the <span class="blue">real estate managment</span> a
      breeze. No matter <span class="blue">the size or the market</span>
    </h2>

    <p class="paragraph">
      One intuitive platform for your entire residential portfolio. You can do
      anything from anywhere in a fully digital environment. Streamlined
      processes and smart automation free your team to focus on your communities
      and deliver an outstanding resident experience.
    </p>
  </div>
</section>

<section id="benefits" class="section"  @bounceIn>
    <div class="benefits-txt">
      <h2 class="title">
        <span class="purp">Be The Best Landlord</span> Your Tenant Has Ever Had
      </h2>

      <p class="paragraph">
        For Landlords - Stay organized and look professional in the eyes of your
        tenant, with everything in one place
      </p>
      <p class="paragraph">
        For Your Tenants - One tool for applying, paying rent, and requesting
        maintenance
      </p>
      <p class="paragraph">
        For Both - Handle paperwork, payments, communication, and maintenance
        all together to eliminate confusion
      </p>
    </div>
    <img
      src="../../../assets/images/benefits-scnd.png"
      alt="Benefits villa banner"
      class="benefits-img"
    />
  </section>