<div class="container">
  <h1>Add new Lease</h1>

  <div class="new-prop-border">
    <div class="header-background"></div>
    <form [formGroup]="addLeaseForm">
      <div class="dates-cnt">
        <p class="title">Lease Term</p>
        <div class="flex">
          <input type="date" formControlName="startDate" />
          <input type="date" formControlName="endDate" />
        </div>
      </div>

      <input
        placeholder="Lease title"
        type="text"
        formControlName="title"
        id="title"
      />
      <ng-container *ngIf="addLeaseForm.get('title')?.touched">
        <span
          class="error"
          *ngIf="addLeaseForm.get('title')?.errors?.['minlength']"
        >
          Title must contain at least 5 characters!
        </span>
        <span
          class="error"
          *ngIf="addLeaseForm.get('title')?.errors?.['required']"
        >
          Title is required!
        </span>
      </ng-container>

      <input
        type="text"
        formControlName="address"
        id="address"
        minlength="5"
        placeholder="Address"
      />
      <ng-container *ngIf="addLeaseForm.get('address')?.touched">
        <span
          class="error"
          *ngIf="addLeaseForm.get('address')?.errors?.['minlength']"
        >
          Property address must contain at least 10 characters!
        </span>
        <span
          class="error"
          *ngIf="addLeaseForm.get('address')?.errors?.['required']"
        >
          Property address is required!
        </span>
      </ng-container>

      <input
        placeholder="Rent"
        type="number"
        formControlName="rent"
        id="rent"
      />
      <ng-container *ngIf="addLeaseForm.get('rent')?.touched">
        <span
          class="error"
          *ngIf="addLeaseForm.get('rent')?.errors?.['required']"
        >
          Property rent is required!
        </span>
      </ng-container>

      <input
        placeholder="Lease description"
        type="text"
        formControlName="description"
        rows="8"
        id="description"
        minlength="10"
      />

      <ng-container *ngIf="addLeaseForm.get('description')?.touched">
        <span
          class="error"
          *ngIf="addLeaseForm.get('description')?.errors?.['required']"
        >
          Description must contain at least 10 characters!
        </span>
        <span
          class="error"
          *ngIf="addLeaseForm.get('description')?.errors?.['required']"
        >
          Description is required!
        </span>
      </ng-container>

      <div class="new-prop-buttons">
        <button class="cancel" type="button" routerLink="/leases/">
          Cancel
        </button>
        <button
          class="public"
          [disabled]="this.addLeaseForm.invalid"
          (click)="addLease()"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
