<aside id="dashboard">
  <div class="logo-cnt" routerLink="/">
    <img
      class="logo-img"
      src="../../../assets/site-logo.png"
      alt="Landware logo"
    />
    <p class="logo-txt">Land<span class="blue">Ware</span></p>
  </div>
  <div class="sections-cnt">
    <div class="single-section">
      <ul class="links">
        <li class="link">
          <img
            src="../../../assets/icons/board-home.png"
            alt="Dashboard"
            class="link-icon"
          />
          <a routerLink="/dashboard/" class="link-title">Dashboard</a>
        </li>

        <li class="link">
          <img
            src="../../../assets/icons/board-props.png"
            alt="Properties"
            class="link-icon"
          />
          <a routerLink="/properties/" class="link-title"
            >Properties</a
          >
        </li>
        <li class="link">
          <img
            src="../../../assets/icons/board-forms.png"
            alt="Forms"
            class="link-icon"
          />
          <a routerLink="/dashboard/forms" class="link-title">Forms</a>
        </li>
        <li class="link">
          <img
            src="../../../assets/icons/board-leases.png"
            alt="Leases"
            class="link-icon"
          />
          <a routerLink="/dashboard/leases" class="link-title">Leases</a>
        </li>
      </ul>
    </div>

    <section class="single-section">
      <h4 class="section-title">RENT</h4>
      <div class="single-section">
        <ul class="links">
          <li class="link">
            <img
              src="../../../assets/icons/board-tenants.png"
              alt="Tenants"
              class="link-icon"
            />
            <a routerLink="/dashboard/tenants" class="link-title">Tenants</a>
          </li>
          <li class="link">
            <img
              src="../../../assets/icons/board-queries.png"
              alt="Queries"
              class="link-icon"
            />
            <a routerLink="/dashboard/queries" class="link-title">Queries</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="single-section">
      <h4 class="section-title">FINANCES</h4>
      <div class="single-section">
        <ul class="links">
          <li class="link">
            <img
              src="../../../assets/icons/board-expenses.png"
              alt="Expenses"
              class="link-icon"
            />
            <a routerLink="/dashboard/expenses" class="link-title">Expenses</a>
          </li>
          <li class="link">
            <img
              src="../../../assets/icons/board-stats.png"
              alt="Statistics"
              class="link-icon"
            />
            <a routerLink="/dashboard/statistics" class="link-title"
              >Statistics</a
            >
          </li>
        </ul>
      </div>
    </section>

    <section class="single-section">
        <h4 class="section-title">EXTRA</h4>
      <div class="single-section">
        <ul class="links">
          <li class="link">
            <img
              src="../../../assets/icons/board-profile.png"
              alt="Account"
              class="link-icon"
            />
            <a routerLink="/dashboard/profile" class="link-title">Account</a>
          </li>
          <li class="link">
            <img
              src="../../../assets/icons/board-res.png"
              alt="Resources"
              class="link-icon"
            />
            <a routerLink="/dashboard/resources" class="link-title"
              >Resources</a
            >
          </li>
          <li class="link">
            <img
              src="../../../assets/icons/board-help.png"
              alt="Need Help?"
              class="link-icon"
            />
            <a class="link-title" routerLink="/dashboard/help">Need Help?</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</aside>
