<div class="container">
  <h1>Record a Expense</h1>

  <div class="new-prop-border">
    <div class="header-background"></div>
    <form [formGroup]="addExpenceForm">
      <input
        placeholder="Expense title"
        type="text"
        formControlName="title"
        id="title"
      />
      <ng-container *ngIf="addExpenceForm.get('title')?.touched">
        <span
          class="error"
          *ngIf="addExpenceForm.get('title')?.errors?.['minlength']"
        >
          Title must contain at least 5 characters!
        </span>
        <span
          class="error"
          *ngIf="addExpenceForm.get('title')?.errors?.['required']"
        >
          Title is required!
        </span>
      </ng-container>

      <input
        placeholder="Expense cost"
        type="number"
        formControlName="cost"
        id="cost"
      />
      <ng-container *ngIf="addExpenceForm.get('cost')?.touched">
        <span
          class="error"
          *ngIf="addExpenceForm.get('cost')?.errors?.['required']"
        >
          Expense cost is required!
        </span>
      </ng-container>

      <input
        type="text"
        formControlName="address"
        id="address"
        minlength="5"
        placeholder="Address"
      />
      <ng-container *ngIf="addExpenceForm.get('address')?.touched">
        <span
          class="error"
          *ngIf="addExpenceForm.get('address')?.errors?.['minlength']"
        >
          Property address must contain at least 10 characters!
        </span>
        <span
          class="error"
          *ngIf="addExpenceForm.get('address')?.errors?.['required']"
        >
          Property address is required!
        </span>
      </ng-container>

      <input
        placeholder="Expence description"
        required
        type="text"
        formControlName="description"
        rows="8"
        id="description"
      />
      <ng-container *ngIf="addExpenceForm.get('description')?.touched">
        <span
          class="error"
          *ngIf="addExpenceForm.get('description')?.errors?.['minlength']"
        >
          Description must contain at least 5 characters!
        </span>
        <span
          class="error"
          *ngIf="addExpenceForm.get('description')?.errors?.['required']"
        >
          Description is required!
        </span>
      </ng-container>
      <input
      placeholder="Date"
      type="date"
      formControlName="date"
      id="date"
    />
      <div class="new-prop-buttons">
        <button class="cancel" type="button" routerLink="/expenses">
          Cancel
        </button>
        <button class="public" [disabled]="this.addExpenceForm.invalid" (click)="addExpense()">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
