$clr-blue: #3F6FD7;
$clr-white: #ffffff;
$clr-red: crimson;
$clr-green: limegreen;
$clr-blue: #3F6FD7;

$black: #000000;
$gray: rgba($black, 0.6);
$clr-white-dark: rgb(207, 205, 205);

h1,h2,h3,h4,h5,h6 {
    color: #2A2A2A;
}

button {
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    outline: none;
    margin: 1rem;
    transition: all .5s;
    font-weight: 600;

    &:hover {
        background-color: $clr-white;
        cursor: pointer;
    }
}

input {
    outline: none;
    display: block;
    background: rgba($black, 0.1);
    width: 70%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: $gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: .5rem;
}

button+button {
    margin-left: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cancel {
    border-color: $clr-blue;
    color: $clr-blue;
    

    &:hover {
        color: $clr-red;
        border-color: $clr-red;
    }
}

.public {
    border-color: $clr-blue;
    color: $clr-blue;
    

    &:hover {
        color: $clr-green;
        border-color: $clr-green;
    }
}

.new-prop {
    border: 1px solid;
    border-radius: 1em;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;

}

.new-prop-border {
    border: 2px solid $clr-white-dark;
    border-radius: 1rem;
}

.header-background {

    $clr-white: #fff;

    background-color: $clr-blue;
    border: 1px solid $clr-blue;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;

    & span {
        background-color: $clr-white;
        padding: 0.5em;
        margin-top: 1em;
        border-radius: 0.3em;
    }
}

.error {
    color: $clr-red;
}
.new-prop-content {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.title,
.new-prop-content {
    display: flex;
    flex-direction: column;
}

.new-prop-title input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: $clr-red;
    padding-top: 0;
}

.input-error {
    border-left-color: $clr-red;
}

@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 45%;
        margin-top: 2rem;
        margin-left: 22rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 35%;
        margin-left: 30rem;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 30%;
        margin-left: 40rem;
    }
}