<div class="container" @fadeIn>
  <h1>Add New Property</h1>

  <div class="new-prop-border">
    <div class="header-background"></div>
    <form [formGroup]="createPropForm">
      <input
        required
        type="text"
        formControlName="address"
        id="address"
        minlength="5"
        placeholder="Address"
      />
      <ng-container *ngIf="createPropForm.get('address')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('address')?.errors?.['minlength']"
        >
          Address must contain at least 10 characters!
        </span>
        <span
          class="error"
          *ngIf="createPropForm.get('address')?.errors?.['required']"
        >
          Address is required!
        </span>
      </ng-container>
      <input
        placeholder="City"
        type="text"
        formControlName="city"
        id="city"
        minlength="5"
      />
      <ng-container *ngIf="createPropForm.get('city')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('city')?.errors?.['minlength']"
        >
          City must contain at least 2 characters!
        </span>
        <span
          class="error"
          *ngIf="createPropForm.get('city')?.errors?.['required']"
        >
          City is required!
        </span>
      </ng-container>
      <input
        placeholder="ZIP Code"
        type="text"
        formControlName="zip"
        id="zip"
      />
      <ng-container *ngIf="createPropForm.get('zip')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('zip')?.errors?.['required']"
        >
          ZIP code is required!
        </span>
      </ng-container>

      <input
        placeholder="Bedrooms count"
        type="number"
        formControlName="bedrooms"
        id="bedrooms"
      />

      <ng-container *ngIf="createPropForm.get('bedrooms')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('bedrooms')?.errors?.['required']"
        >
          Bedrooms count is required!
        </span>
      </ng-container>

      <input
        placeholder="Baths count"
        type="number"
        formControlName="baths"
        id="baths"
      />
      <ng-container *ngIf="createPropForm.get('baths')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('baths')?.errors?.['required']"
        >
          Baths count is required!
        </span>
      </ng-container>
      <input
        placeholder="Property Type"
        type="text"
        formControlName="type"
        id="type"
      />
      <ng-container *ngIf="createPropForm.get('type')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('type')?.errors?.['minlength']"
        >
          Property type must contain at least 10 characters!
        </span>
        <span
          class="error"
          *ngIf="createPropForm.get('type')?.errors?.['required']"
        >
          Property type is required!
        </span>
      </ng-container>
      <input
        placeholder="Price per month"
        type="number"
        formControlName="price"
        id="price"
      />
      <ng-container *ngIf="createPropForm.get('price')?.touched">
        <span
          class="error"
          *ngIf="createPropForm.get('price')?.errors?.['required']"
        >
          Price is required!
        </span>
      </ng-container>
      <div class="new-prop-buttons">
        <button class="cancel" type="button" routerLink="/properties">
          Cancel
        </button>
        <button class="public" [disabled]="this.createPropForm.invalid" (click)="addEstate()">Add</button>
      </div>
    </form>
  </div>
</div>
