<section id="add-expense" class="section">
  <header class="heading">
    <h1 class="title">Expences</h1>
  </header>

  <div class="info-ctn">
    <img
      src="../../../assets/images/maintenance.png"
      alt="Folder icon"
      class="info-icon"
    />
    <div class="info-txt">
      <h3 class="info-title">Track all properties expences.</h3>
      <p class="info-paragraph">
        Add expences records for more accurate statistics and expand easily.
      </p>
    </div>
  </div>
  <ng-container *ngIf="arrayExpenses && arrayExpenses.length > 0">
    <ul class="expense-ctn" *ngFor="let expense of arrayExpenses">
      <li class="single-expense">
        <div class="prop-info">
          <div class="aditional-data">
            <h3 class="expense-name">{{expense.title}}</h3>
            <p class="date">{{expense.date }}</p>
            <p class="prop-address">{{expense.address}}</p>
          </div>
          <p class="price"><span class="currency">- $</span>{{expense.cost}}</p>
          <p class="expence-data">{{expense.description}}</p>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="arrayExpenses && arrayExpenses.length === 0">
    <ul class="expense-ctn">
      <li class="single-expense">
        <h2>You don't have any expences.</h2>
        <p>Record all your expences for better reports.</p>
      </li>
    </ul>
  </ng-container>
  <button id="add-btn" routerLink="/expenses/add">Add New Expence</button>
</section>
