<header class="header-cnt">
  <div class="logo-cnt">
    <img class="logo-img" src="../../../assets/site-logo.png" alt="Landware logo" />
    <p class="logo-txt">Land<span class="blue">Ware</span></p>
  </div>
  <nav class="nav-left">
    <ul class="nav-el-cnt">
        <li class="nav-el"><a href="" class="nav-link">Services</a></li>
        <li class="nav-el"><a href="" class="nav-link">About</a></li>
        <li class="nav-el"><a href="" class="nav-link">Dashboard</a></li>
        <li class="nav-el"><a href="" class="nav-link">Resources</a></li>
        <li class="nav-el"><button class="login-btn">Sign up</button></li>
    </ul>
  </nav>
</header>
