$clr-primary: #03A4ED;
$clr-secondary: #3F6FD7;
$clr-detail: #E00043;
$clr-white: #ffffff;

.logo-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .logo-img {
        width: 14%;

    }

    & .logo-txt {
        font-size: 2.6rem;
        font-weight: 800;
        color: $clr-primary;
        margin: 1rem;

    }

    & .blue {
        color: $clr-secondary;
    }

    &:hover{
        cursor: pointer;
    }
}

.nav-left {
    align-items: center;
    text-align: center;

    & .nav-el-cnt {
        list-style: none;
        padding: 0;

        & .nav-el {
            padding: .5rem;
            font-size: 1.1rem;

            & .nav-link {
                text-decoration: none;
                color: $clr-primary;

                &:hover {
                    color: $clr-secondary;
                }
            }

            & .register-btn {
                background-color: $clr-detail;
                border-color: $clr-detail;
                color: $clr-white;

                width: 7rem;
                height: 3rem;
                font-size: 1.2rem;
                border-radius: .2rem;
                transition: all .5s;

                &:hover {
                    background-color: $clr-secondary;
                    border-color: $clr-secondary;
                    cursor: pointer;
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {
    .header-cnt {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & .logo-cnt {
            justify-content: left;

            & .logo-img {
                width: 10%;
            }

            & .logo-txt {
                font-size: 1.5rem;
                margin: 0
            }
        }

        & .nav-el-cnt {
            display: flex;
            flex-direction: row;
            align-items: center;


            & .nav-el {
                font-size: .8rem;

                & .register-btn {
                    width: 5rem;
                    height: 2rem;
                    font-size: .9rem;
                }

            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header-cnt {
        margin: 0 auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;

        & .logo-cnt {
            justify-content: left;
            margin: 0;
            padding: 0;

            & .logo-img {
                width: 12%;
            }

            & .logo-txt {
                font-size: 1.8rem;
                margin: 0
            }
        }
    }

    .nav-left {

        & .nav-el-cnt {

            & .nav-el {
                font-size: .9rem;

                & .register-btn {
                    width: 5.4rem;
                    height: 2rem;
                    font-size: 1rem;
                    border-radius: .3rem;
                }
            }


        }
    }

}

@media screen and (min-width: 1440px) {
    .header-cnt {

        & .logo-cnt {
            & .logo-img {
                width: 10%;
            }

            & .logo-txt {
                font-size: 2.2rem;
            }
        }
    }

    .nav-left {

        & .nav-el-cnt {

            & .nav-el {
                font-size: 1.1rem;

                & .register-btn {
                    width: 6.2rem;
                    height: 2.8rem;
                    font-size: 1.3rem;
                    border-radius: .3rem;
                }
            }

        }
    }
}