<main class="main-cnt">
    <section id="hero" class="section">
        <div class="hero-txt">
            <h1 class="title">
                Organize <span class="blue">your rental property business</span> with all in one software solution
            </h1>
            <p class="paragraph">
                Intuitively designed property managment software, build with the right amount of automation for your operations that’s easy to use. Everything your business needs to grow, all in one place.
            </p>
            <button routerLink="/register" class="hero-btn">Sign in</button>
        </div>
        <img src="../../../assets/images/hero-banner.png" alt="Hero section banner" class="hero-banner">
    </section>

    <section id="services" class="section">

    </section>

</main>