<section id="services" class="section" @pageAnimations>
  <h2 class="title">
    Everything your <span class="purp">business needs to succeed</span>, from
    move-in to move-out
  </h2>
  <ul class="services-cnt">
    <li class="service">
      <img
        src="../../../assets/icons/services-icons/managment-growth.png"
        alt="Managment & Growth Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Managment & Growth</h3>
      <p class="service-paragraph">
        Grow your business without ever missing a beat. LandWare is designed to
        give you the clarity to focus on what drives your success.
      </p>
    </li>

    <li class="service">
      <img
        src="../../../assets/icons/services-icons/renter-mng.png"
        alt="Renter Managment Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Renter Management</h3>
      <p class="service-paragraph">
        Track your lead, applicant, and lease information all in one place.
      </p>
    </li>

    <li class="service">
      <img
        src="../../../assets/icons/services-icons/search.png"
        alt="Accounting & Reports Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Accounting & Reports</h3>
      <p class="service-paragraph">
        Gain greater insights across your portfolio, boost accuracy with robust
        accounting, and increase productivity through smart process automation.
      </p>
    </li>

    <li class="service">
      <img
        src="../../../assets/icons/services-icons/docs-mng.png"
        alt="Document Management Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Document Management</h3>
      <p class="service-paragraph">
        Find state-specific legal forms in minutes when you need them.
      </p>
    </li>

    <li class="service">
      <img
        src="../../../assets/icons/services-icons/integrations.png"
        alt="Seamlessly integrations Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Seamlessly integrations</h3>
      <p class="service-paragraph">
        Do everything you ever wanted with the power of integrations. Share data
        between programs and eliminate double data entry.
      </p>
    </li>

    <li class="service">
      <img
        src="../../../assets/icons/services-icons/revenue.png"
        alt="Revved-Up Revenue Icon"
        class="service-ico"
      />
      <h3 class="service-heading">Revved-Up Revenue</h3>
      <p class="service-paragraph">
        Tools that open up built-in revenue streams inside your portfolio.
      </p>
    </li>
  </ul>
</section>
